@import "../global.scss";

.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9f3f4;
    margin-top: 138px;
    margin-bottom: 138px;
}

.auth-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
}
